---
---
@charset "UTF-8"
  
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.ttf'), format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin */
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 700
  src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.ttf') format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin-ext */
@font-face
  font-family: 'Oxygen'
  font-style: normal
  font-weight: 300
  src: local('Oxygen Light'), url('../fonts/Oxygen-Light.ttf') format('truetype')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Oxygen'
  font-style: normal
  font-weight: 300
  src: local('Oxygen Light'), url('../fonts/Oxygen-Light.ttf') format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin-ext */
@font-face 
  font-family: 'Oxygen'
  font-style: normal
  font-weight: 400
  src: local('Oxygen'), url('../fonts/Oxygen-Regular.ttf') format('truetype')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Oxygen'
  font-style: normal
  font-weight: 400
  src: local('Oxygen'), url('../fonts/Oxygen-Regular.ttf') format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin-ext */
@font-face 
  font-family: 'Oxygen'
  font-style: normal
  font-weight: 700
  src: local('Oxygen Bold'), url('../fonts/Oxygen-Bold.ttf') format('truetype')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Oxygen'
  font-style: normal
  font-weight: 700
  src: local('Oxygen Bold'), url('../fonts/Oxygen-Bold.ttf') format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* cyrillic-ext */
@font-face 
  font-family: 'PT Serif'
  font-style: normal
  font-weight: 400
  src: local('PT Serif'), url('../fonts/PT_Serif-Web-Regular.ttf') format('truetype')
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

/* cyrillic */
@font-face 
  font-family: 'PT Serif'
  font-style: normal
  font-weight: 400
  src: local('PT Serif'), url('../fonts/PT_Serif-Web-Regular.ttf') format('truetype')
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'PT Serif'
  font-style: normal
  font-weight: 400
  src: local('PT Serif'), url('../fonts/PT_Serif-Web-Regular.ttf') format('truetype')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'PT Serif'
  font-style: normal
  font-weight: 400
  src: local('PT Serif'), url('../fonts/PT_Serif-Web-Regular.ttf') format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000




// Our variables
$base-font-family:	'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif
$sans-serif:		$base-font-family
$alt-sans-serif:	'Oxygen', sans-serif
$serif: 			'PT Serif', Cambria, "Times New Roman", Times, serif
$article:			'Oxygen', sans-serif

$base-font-size:	16px
$small-font-size:	$base-font-size * 0.875
$base-line-height:	1.5

$spacing-unit:     30px

$text-color:       #111
$background-color: #fdfdfd
$brand-color:      #FFDC00

$grey-color:       #828282
$grey-color-light: lighten($grey-color, 40%)
$grey-color-dark:  darken($grey-color, 25%)

$on-palm:          600px
$on-laptop:        800px


@import "plugins/bourbon/bourbon"
@import "plugins/base/grid-settings"
@import "plugins/base/base"
@import "plugins/neat/neat"
@import "plugins/normalize"
@import "plugins/marveldevice/devices"
@import "plugins/carousel/owl-carousel"
@import "plugins/carousel/owl-theme"
@import "plugins/invertFilter"
@import "plugins/jquery.fullpage"

@import "app/header"
@import "app/footer"
@import "app/hero"
@import "app/productgrid"
// @import "app/threerowproduct"
@import "app/twolist"
@import "app/devicehero"
@import "app/article"
@import "app/accessibility"
@import "app/blockquote"
@import "app/avatars"
// @import "app/hamburger"

@import "layout"

@import "syntax-highlighting"

@import "font-awesome"


