---
---
@charset "UTF-8"

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700|PT+Serif|Montserrat:400,700)

// Our variables
$base-font-family:	'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif
$sans-serif:		$base-font-family
$alt-sans-serif:	'Oxygen', sans-serif
$serif: 			'PT Serif', Cambria, "Times New Roman", Times, serif
$article:			'Oxygen', sans-serif

$base-font-size:	16px
$small-font-size:	$base-font-size * 0.875
$base-line-height:	1.5

$spacing-unit:     30px

$text-color:       #111
$background-color: #fdfdfd
$brand-color:      #FFDC00

$grey-color:       #828282
$grey-color-light: lighten($grey-color, 40%)
$grey-color-dark:  darken($grey-color, 25%)

$on-palm:          600px
$on-laptop:        800px


@import "plugins/bourbon/bourbon"
@import "plugins/base/grid-settings"
@import "plugins/base/base"
@import "plugins/neat/neat"
@import "plugins/normalize"
@import "plugins/marveldevice/devices"
@import "plugins/carousel/owl-carousel"
@import "plugins/carousel/owl-theme"
@import "plugins/invertFilter"

@import "app/header"
@import "app/footer"
@import "app/hero"
@import "app/productgrid"
// @import "app/threerowproduct"
@import "app/twolist"
@import "app/devicehero"
@import "app/article"
@import "app/accessibility"
@import "app/blockquote"
// @import "app/hamburger"

@import "layout"


@import "font-awesome"


