---
layout: default 
---


<!-- {% include herounit.html %} -->
<div id="index-bullets iu-skip" class="responsive-container container">
    <div class="two-list-container">
        <h3>What we do</h3>
        <ul id="two-list-content" class="two-list">
            <li class="two-list-item">Content Management Systems (CMS)</li>
            <li class="two-list-item">Website Design</li>
            <li class="two-list-item">Branding</li>
            <li class="two-list-item">Database Development</li>
            <li class="two-list-item">Ecommerce Systems</li>
            <li class="two-list-item">Real Estate Systems</li>
            <li class="two-list-item">Trademe.co.nz Data Importing</li>
            <li class="two-list-item">Realestate.co.nz Data Importing</li>
            <li class="two-list-item">Customer Focused</li>
            <li class="two-list-item">Consultancy and Advice Service</li>
            <li class="two-list-item">Hosting Services</li>
        </ul>
    </div>
</div>


<div class="responsive-container container">
    <div class="grid-items">
    {% assign pages = site.pages | sort:"weight"  %}
    {% for page in pages %}
        {% if page.categories contains 'project' %}
            <a href="{{ page.path }}" class="grid-item">
                <div class="ribbon-wrapper">
                    <div class="ribbon ribbon-web">WEB</div>
                </div>
                <img src="{{ page.thumbnail }}" alt="">
                <div id="griditem-{{ page.title }}">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
                </div>
            </a>
        {% endif %}
    {% endfor %} <!-- page -->

    </div>
</div>

<div class="container navigation-menu">
</div>

