<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ '/index.html' | to_absurl }}" class="logo">
      {% include logo %}
    </a>
    
    <a class="lines-button arrow arrow-up navigation-menu-button" id="js-mobile-menu" type="button" role="button" aria-label="Toggle Navigation">
                <span class="lines"></span>
              </a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link" data-menuanchor="first_page"><a href="#first_page">About</a></li>
        <li class="nav-link" data-menuanchor="second_page"><a href="#second_page">Projects</a></li>
        <li class="nav-link" data-menuanchor="third_page"><a href="#third_page">Company</a></li>

      </ul>
    </nav>
</header>



