<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="/index.html" class="mobile-logo">
      <img src="/assets/images/veb_header.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      
      <li class="nav-link logo">
        <a href="/index.html" class="logo">
          <img src="/assets/images/veb_header.png" alt="Logo image">
        </a>
      </li>
      <!-- <li class="nav-link"><a href="aboutus.html">About Us</a></li>
      <li class="nav-link"><a href="testimonials.html">Testimonials</a></li> -->
      <li class="nav-link"><a href="/contactus.html">Contact</a></li>
    </ul>
  </div>
</header>

<aside class="accessibility-sidebar">
  <ul>
    <li id="invert">
    <i class="fa fa-star-half-o"></i>
    </li>
    <li id="embiggen">
    <i class="fa fa-font"></i>
    </li>
  </ul>
</aside>
