<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ '/index.html' | to_absurl }}" class="logo">
      {% include logo %}
    </a>

    <a class="lines-button arrow arrow-up navigation-menu-button" id="js-mobile-menu" type="button" role="button"
      aria-label="Toggle Navigation">
      <span class="lines"></span>
    </a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link" data-menuanchor="about"><a href="{{ '/index.html' | to_absurl }}#about">About</a></li>
        <li class="nav-link" data-menuanchor="projects"><a href="{{ '/index.html' | to_absurl }}#projects">Projects</a>
        </li>
        <!-- <li class="nav-link" data-menuanchor="team"><a href="{{ '/index.html' | to_absurl }}#team">Team</a></li> -->

      </ul>
    </nav>
</header>