<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy" id="hero-content">
		</div>
	</div>
</div>
<div class="responsive-container container">
	<div class="hero-header">
	    <h3>we can help you with...</h3>
	    <p>web and graphic design, art and illustration, animation, branding, consulting,
	        mobile websites, cloud applications, managed hosting, virtual and augmented reality,
	        domain names, consulting, smart wearables (LG, Moto360), and much more.</p>
	    <p>say <a href="mailto:hello@veb.co.nz">hello@veb.co.nz</a> if you have an idea, or need some free advice on anything</p>
	</div>
</div>
