body
    font-family: $base-font-family
    font-size: $base-font-size
    line-height: $base-line-height
    font-weight: 300
    color: $text-color
    background-color: $background-color

.page-content
    padding-top: 60px
.html-inverted
    @include filter(invert(100%))
    
.body-embiggened
    font-size: $base-font-size * 1.5

.container
    padding: 100px 50px

#pitchslides
    text-align: center
    @include padding(20vh 5em 10px 5em)
    .item
        height: 15em

code
    padding: 3px 4px
    color: red
    background-color: #f7f7f9
    border: 1px solid #e1e1e8

$mobile: new-breakpoint(max-width 500px 4)
.responsive-container
    @include outer-container
    article
        @include span-columns(6)
        @include media($mobile)
            @include span-columns(4)
        .bullet-img
            display: block
            height: 10em
            margin: auto
            margin-bottom: 1em