.footer {
  $footer-background: darken($brand-color, 2);
  $footer-color: black;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSI1MCI+CjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2Y0ZGQ2ZSIgZD0iTTE0LDMzTDAsMjVWOGwxNC04bDE0LDh2MTdMMTQsMzN2MTciPjwvcGF0aD4KPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZjRkYTViICIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTQsMHYxN0wwLDI1djE3bDE0LDhsMTQtOFYyNWwtMTQtOCI+PC9wYXRoPgo8L3N2Zz4=");
  padding: $base-spacing*2 $gutter;
  width: 100%;

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;

    img {
      height: 3em;
    }
  } 

  .footer-links {
    @include clearfix;
    @include outer-container;
    margin-bottom: $base-spacing;
  }

  ul.footer-left {
    margin-bottom: $base-spacing*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include clearfix;
    }
  }

  ul.footer-right {
    margin-bottom: $base-spacing*2;

      @include media($medium-screen) {
        @include span-columns(9);
        @include omega();
        @include clearfix;
      }
  }
  

  li {
    text-align: center;
    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  li img.dunedinlogo {
    height: 4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
