.two-list {
  $icon-bullet-size: 3.5em;

  font-size: 1.1em;
  text-align: center;
  line-height: 1.5em;
  overflow: auto;
  padding-top: 2em;
  padding-bottom: 5em;
  margin-bottom: $base-line-height;
  
  .two-list-item {
    @include media($medium-screen) {
      @include span-columns(6);
      @include omega();
    }
  }
}