.two-list {
  $icon-bullet-size: 3.5em;

  font-size: 1.1em;
  text-align: left;
  overflow: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  margin-bottom: $base-line-height;
  
  .two-list-item {
    @include media($medium-screen) {
      @include span-columns(6);
      @include omega();
    }
    line-height: 2.5em;
  }
}